<!--About page static content-->
<div class="container" style="margin-bottom:50px" id="shell">
    <div class="text-right"><a href="/" ><i class="fas fa-home"></i></a></div>
    <div class="row" style="margin-top:50px;">
        <div class="col-lg-4 blurb">
            <h3 class="text-center">What is Poolboi?</h3>
            <p>Poolboi is a web service thats developed to help you maintain pristine pool and spa water quality. 
                Enter your water test results into Poolboi and let it calculate what chemical adjustments you should make to keep
                your water safe and clean. Poolboi accounts for your water size, water history, and weather data. The days of green gungy
                water are over. 
            </p>
        </div>
        <div class="col-lg-4 blurb">
            <h3 class="text-center">Is Poolboi free?</h3>
            <p>For now, Yes! Poolboi is exploring two business models. One is a subscription based model where you pay per month for the service. So
                for our northern climate users they wouldnt need to pay for it during the winter months unless it was being used with their spa.
                The other option would be to partner with a chemical company to boost sales with their products.
            </p>
        </div>
        <div class="col-lg-4 blurb">
            <h3 class="text-center">Whats the future of Poolboi?</h3>
            <p>Poolboi is hoping to offer its service to both commercial and residental pools and spas. In the future we would like to integrate
                water sensors automate the water testing and treatment processes. Potentially making it even reorder chemicals when supplies are low.
                The only human interaction is maintaining chemical supplies and enjoying your pool and spa. 
            </p>
        </div>
    </div>
    <div class="text-center" ><a href="/" class="btn btn-primary">Get Started</a></div>
</div>
<link rel="stylesheet" type="text/css" href="/assets/styles/about.css"></link>