<div class="container-fluid text-center" style="margin-top:20%">
    <h2>{{msg}}</h2>
    <h4><a href="/">Back to Safety</a></h4>
</div>
<style type="text/css">
    body{
        background: #062193; /* Old browsers */  
        height: 80vh;
        font-family: 'Maven Pro', sans-serif;
        color: #fff;
    }

    a{
        color:#e98338;
    }

    a:hover {
        color:#e98338;
    }
</style>