<!--Let React dynamically fill content -->
<h1 class="text-center" style="padding-top:15%"id="title">Poolboi</h1>
<p class="text-center">Pool & Spa Water Management Service</p>
<section id="content" class="text-center"></section>
<script src="/assets/loginbundle.js"></script>