<section className="container-fluid">
    <p style="padding:20px;"><a href="/">Back to App</a></p>
    <div class="row justify-content-center" style="margin-top:100px">
        <form name="new" id="updatePass">
            <label>Old Password</label>
            <input name="pass" type="password" id="pass"><br/>
            <label>New Password</label>
            <input name="newpass1" type="password" id="pass1"><br/>
            <label>Retype New Password</label>
            <input name="newPass2" type="password" id="pass2"><br/>
            <input id="csrfToken" type="hidden" name="_csrf" value="notSet"></input><br/>
            <button id="submit" class="btn-block btn btn-success">Update</button>
        </form>
    </div>
</section>

<script type="text/javascript">
    function changePassword(e){
        e.preventDefault();
        var pass = $('#pass').val();
        var pass1 = $('#pass1').val();
        var pass2 = $('#pass2').val();
        //do empty check
        if(pass == "" || pass1 == "" || pass2 == ""){
            window.alert("Please fill in all fields"); 
            return;
        }
        //validate new passwords match
        if(pass1 != pass2){
            window.alert('New Passwords do not match'); 
            return;
        }
        //make sure its not the same as the current password
        if(pass === pass1){
            window.alert('New Passwords can not be the same as your old password'); 
            return;
        }

        console.log('changing password from ' + pass + ' to ' + pass1 );
        console.log(document.querySelector('#csrfToken').value);

        $.ajax({
            method:'POST',
            url:'/updatePass',
            data: $('#updatePass').serialize(),
            success: (result) =>{
                console.dir(result);
            }
        });
    }

    window.onload = function(){
        document.querySelector('#submit').addEventListener('click',changePassword);
        $.ajax({
            method:'GET',
            url:'/getToken',
            data: null,
            success: (result) =>{
                document.querySelector('#csrfToken').value = result.csrfToken;
            }
        });
    }

</script>